.log-card{
    width: 500px;
    height: 300px;
    margin-left: 670px;
    margin-top: 200px;
    box-shadow: 0px 0px 10px 0px #9b9b9b,
        0 1px 1px 0 #9b9b9b,
        0 1px 3px 0 #9b9b9b;
}
.log-tool{
   background-color: #000101;color:white;
   margin-left: 50px;
   width: 400px;
}
.log-input{
    text-align: center;
}

.log-but{
    width: 150px;
    height: 5.0ch;
}
