<div>
    <mat-card class="add-user">
        <mat-toolbar class="color-all">
            <span style="margin-left: 130px;">Create User</span>
        </mat-toolbar><br><br>
        <form #adduserForm="ngForm">
            <div class="mat-form">
                <!-- <mat-form-field style="width: 300px;">
                    <mat-label>Enter your id</mat-label>
                    <input matInput type="id" name="id" [(ngModel)]="employeeDetails.id" required style="width:fit-content;height:4ch;">
                </mat-form-field><br><br>
   -->
                <mat-form-field style="width: 300px;">
                    <mat-label>Enter your name</mat-label>
                    <input matInput type="name" name="name" [(ngModel)]="employeeDetails.name" required style="width:fit-content;height:4ch;">
                </mat-form-field><br><br>

                <mat-form-field style="width: 300px;">
                    <mat-label>Enter your mail</mat-label>
                    <input matInput type="mail" placeholder="example@gmail.com" name="mail" [(ngModel)]="employeeDetails.mail" required style="width:fit-content;height:4ch;">
                    <mat-icon matSuffix>mail</mat-icon>
                </mat-form-field><br><br>

                <mat-form-field style="width: 300px;">
                    <mat-label>Enter your role</mat-label>
                    <mat-select [(ngModel)]="employeeDetails.role" name="role">
                        <mat-option value="ROLE_ADMIN">ADMIN</mat-option>
                        <!-- <mat-option value="User">User</mat-option> -->
                    </mat-select>
                </mat-form-field><br><br>

                <mat-form-field style="width: 300px;">
                  <mat-label>Enter your password</mat-label>
                  <input matInput type="password" name="password" [(ngModel)]="employeeDetails.password" style="width:fit-content;height:4ch;" [type]="hidePass? 'password':'text'" required >
                  <mat-icon matSuffix (click)="hidePass=!hidePass">{{hidePass? 'visibility_off':'visibility'}}</mat-icon>
                </mat-form-field><br><br>
            </div>
            <span>
                <button mat-raised-button type="button" class="but color-all" [disabled]="adduserForm.invalid" (click)="create()">Submit</button>
                <button mat-raised-button type="button" style="margin-left:30px;" class="color-all" routerLink="/user/listUser">Cancel</button><br><br>
            </span>
        </form>
    </mat-card>
  </div>
