.mat-card{
    margin-left: auto;
    margin-top: 100px;
    margin-right: auto;
    margin-bottom: auto;
    width: 400px;
    height: 655px;
    text-align: center;
}

.but{
    text-align: center;
}
